.is-disabled {
  pointer-events: none;
}

.is-logo {
  height: 1em;
}

html { 
  background: url(img/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
